<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/roshkadev/form">iOS Forms</a></strong>
            An elegant form library for iOS featuring jQuery-esque events for common UIKit elements.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/guarani/Hacker-News-Who-s-Hiring-Job-Finder">HN Job Finder for Google Chrome</a></strong>
            A Google Chrome extension allowing you to search for multiple keywords on job listings in Hacker News' Who is Hiring monthly thread.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/guarani/HN-iOS-Bookmarklet-Who-is-Hiring-Search">HN Job Finder for Mobile Safari</a></strong>
            An iOS bookmarklet similar to the <b>HN Job Finder for Google Chrome</b>.
		</h5>
    </div>
  </div>
</div>
</section>
